*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-section{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo-name {
    font-weight: 700;
    font-size: 30px;
    color: #4E47FF;
    text-transform: uppercase;
}

.btn {
    color: white;
    background-color: #4E47FF;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;

}

.hero-section {
    height: 50vh;
    width: 100%;
    background-image: url("/Assets/Hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    text-align: center;
    padding: 100px 20px;
}

.banner h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: darkslategrey;
}

.btn-2 {
    background-color: #4E47FF;
    color: white;
    padding: 3px 10px;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 300px;

}

.action-text p {
    font-size: 16px;
    margin-bottom: 20px;
}

.preview-btn {
    background-color: #4E47FF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.action-image img {
    width: 200px;
    border-radius: 12px;    
}
